name: Update Doulist Data
on:
  schedule:
    - cron: '0 1 * * *' # 每天凌晨更新一次即可，豆瓣不需要频繁更新
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install axios
      - run: node scripts/update-doulist-data.js
        env:
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
      - name: Commit
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add data/doulist-data.json
          git commit -m "Update Doulist Data" || echo "No changes"
          git push
